#!/bin/bash
export CHIA_PASSPHRASE_SUPPORT={{ CHIA_PASSPHRASE_SUPPORT }}
export ANSIBLE_CALLBACKS_ENABLED={{ ANSIBLE_CALLBACKS_ENABLED }}
export ANSIBLE_LOG_PATH={{ ANSIBLE_LOG_PATH }}/{{ ANSIBLE_LOG_FILENAME }}
export ANSIBLE_STDOUT_CALLBACK={{ ANSIBLE_STDOUT_CALLBACK }}
ANSIBLE_REMOTE_TEMP={{ ANSIBLE_REMOTE_TEMP }} ansible-playbook synctest.yml
